# 1. Data Types and Data Structures

## 1.1 Basic Variable Types

###String

In [ ]:
my_string1 = 'Bienvenido a '
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Bienvenido a  QuantConnect

###Int

In [ ]:
my_int = 233
print(my_int)

233

######Imprimir el tipo de dato

In [ ]:
print(type(my_int))

<class 'int'>

######Convertir de string a Int

In [ ]:
my_string = "100"
print(type(my_string))

<class 'str'>

In [ ]:
my_int = int(my_string)
print(type(my_int))
print(my_int)

<class 'int'>
100

###Float

In [ ]:
my_float = 15.0
print(my_float)
print(type(my_float))

15.0
<class 'float'>

######Convertir de string a Float

In [ ]:
my_string = "1000.55"
my_float = float(my_string)
print(type(my_float))
print(my_float)

<class 'float'>
1000.55

###Boolean

In [ ]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

## 1.2 Basic Math Operations

In [ ]:
print("Addition/suma: ", 10+1)
print("Subtraction/resta: ", 5-9)
print("Multiplication/multiplicación: ", 8*3)
print("Division/división: ", 25/2)
print("exponent/exponencial: ", 3**3)

Addition/suma:  11
Subtraction/resta:  -4
Multiplication/multiplicación:  24
Division/división:  12.5
exponent/exponencial:  27

## 1.3 Data Collections

###Python List

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print("Cantidad de elementos en la lista:", len(my_list))

print("Elemento de la lista:", my_list[1])

print("Ultimo elemento de la lista:", my_list[len(my_list) - 1])

Cantidad de elementos en la lista: 5
Elemento de la lista: Connect
Ultimo elemento de la lista: 3

Cambiar un elemento a la lista

In [ ]:
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

Imprimir más de un elemento de la lista (comienza desde el primer elemento indicado, pero excluye el último elemento indicado)

In [ ]:
print(my_list[0:3])
print(my_list[1:])

['Quant', 'Connect', 'go']
['Connect', 'go', 2, 3]

Agregar y Eliminar elementos de la lista

In [ ]:
my_list1 = ['Hello', 'Quant']
my_list1.append('Hello')
print(my_list1)

my_list1.remove('Hello')
print(my_list1)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

###Python Tuple

Es un tipo de estructura de datos similar a una lista. La diferencia es que una tupla es inmutable, lo que significa que no puede cambiar los elementos en ella una vez que está definida.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple)
print(my_tuple[1:])

('Welcome', 'to', 'QuantConnect')
('to', 'QuantConnect')

###Python Set

Es una colección desordenada sin elementos duplicados.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'FB', 'IBM', 'GOOG', 'AAPL'}

###Python Dictionary

A diferencia de las secuencias que están indexadas por números enteros, los diccionarios están indexados por claves que pueden ser cadenas o flotantes

In [ ]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic['GOOG'])

Alphabet

Cambiar el valor asociado con una clave específica

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

.keys() devuelve una lista de todas las claves utilizadas en el diccionario

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

## 1.4 Common String Operations

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[11:])

print("Counting the number of e's in this sentence".count('e'))

print('The first time e appears in this sentence'.find('e'))

print('all the a in this sentence now becomes e'.replace('a','e'))

QuantConnect
6
2
ell the e in this sentence now becomes e

El método más utilizado para cadenas es string.split(). Este método dividirá la cadena por el carácter indicado y devolverá una lista

In [1]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

Se pueden reemplazar partes de una cadena por nuestra variable (formato de cadena)

In [2]:
my_time = 'Hora: {}, Minuto: {}'.format(9, 43)
print(my_time)

Hora: 9, Minuto: 43

# 2. Logical Operations and Loops

## 2.1 Logical Operations

In [8]:
print (55 == 12)    
print (12 == 12)    
print (13 != 22)   
print (5 >= 5)  
print (5 >= 6)

False
True
True
True
False

Al combinar declaraciones simples P y Q para formar declaraciones complejas usando operadores lógicos

In [20]:
print (5 > 2 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

print (3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

True
False
True
False
True
False

## 2.2 If Statement

In [25]:
p = 1 > 10
q = 2 > 15
if p and q:
    print ('p y q son verdaderas')
elif p and not q:
    print ('q es falsa')
elif q and not p:
    print ('p es falsa')
else:
    print ('Ni p ni q son verdaderas')

Ni p ni q son verdaderas

## 2.3 Loop Structure

### While Loop

In [27]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

### For Loop

In [28]:
for x in [1,2,3,4,5]: 
     print (x)

1
2
3
4
5

In [30]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

##### Break and continue
Si se activa "break" mientras se ejecuta un bucle, el bucle terminará inmediatamente

In [32]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

El comando "continue" le dice al ciclo que termine esta iteración y salte a la siguiente iteración

In [33]:
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

## List Comprehension

In [43]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

#usando comprensión de listas
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Una lista de comprensión consta de corchetes que contienen una expresión seguida de una cláusula "for" y posiblemente cláusulas "for" o "if".

In [44]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

# 3. Functions and Objective-Oriented Programming

## 3.1 Functions
Podemos definir fácilmente nuestra propia función usando la palabra clave "def"

In [50]:
def product(x,y):
    return x*y
print (product(3,6))


def say_hi():
    print ("Welcome to QuantConnect")
say_hi()

18
Welcome to QuantConnect

## 3.2 Built-in Function
range() es una función que crea una lista que contiene una secuencia aritmética.

In [66]:
x = range(10)
for n in x:
  print(n)

print(list(range(10)))

0
1
2
3
4
5
6
7
8
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

len() es otra función que se usa junto con range() para crear un bucle for (devuelve la longitud de un objeto)

In [67]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

map() es una función que aplica una función específica a cada elemento de una secuencia o colección y devuelve una lista de los resultados.

In [68]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

El operador lambda es una forma de crear pequeñas funciones anónimas. Estas funciones solo son necesarias donde se han creado.

In [84]:

print (list(map(lambda x: x**2, range(10))))

print (list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])))
print (map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1]))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[6, 6, 6, 6, 6]
<map object at 0x7f6a86260d50>

sorted() toma una lista o conjunto y devuelve una nueva lista ordenada

In [87]:
print (list(sorted([5,2,3,4,1])))
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

Podemos agregar un parámetro "clave" para especificar una función que se llamará en cada elemento de la lista antes de hacer comparaciones

In [85]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

Podemos cambiarlo a descendente agregando un parámetro opcional "reverse"

In [97]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
print (sorted(price_list, key = lambda x: x[1], reverse = True))

[('GOOGL', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [92]:
price_list.sort(key = lambda x: x[1])
print (price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

## 3.3 Object-Oriented Programming

### Class
Una clase es un tipo de datos, como una cadena, flotante o lista. Cuando creamos un objeto de ese tipo de datos, lo llamamos instancia de una clase.

En Python, todo es un objeto, todo es una instancia de alguna clase. Los datos almacenados dentro de un objeto se denominan atributos y las funciones asociadas con el objeto se denominan métodos.

In [99]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

In [100]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [102]:
print (apple.ticker)

google.print_return()

google.update(912.8,913.4)
google.print_return()

AAPL
0.0006573181419806673
0.0006573181419806673

Al llamar a la función update (), actualizamos los precios de apertura y cierre de una acción. Tenga en cuenta que cuando usamos los atributos o llamamos a los métodos dentro de una clase, debemos especificarlos como self.attribute o self.method (), de lo contrario, Python los considerará como variables globales y, por lo tanto, generará un error.

Podemos agregar un atributo a un objeto en cualquier lugar:

In [103]:
apple.ceo = 'Tim Cook'
print (apple.ceo)

Tim Cook

Podemos verificar qué nombres (atributos y métodos) están definidos en un objeto usando la función dir()

In [108]:
dir(apple)

### Inheritance
La herencia es una forma de organizar las clases en una jerarquía desde la más general hasta la más específica (Padre-hijo).

In [109]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [111]:
aa = Child('AA')
print (aa.name)

aa.update(100, 102)
print (aa.open)

print (aa.close)

print (aa.print_return())

AA
100
102
0.020000000000000018
None

# 4. NumPy and Basic Pandas

## 4.1 NumPy
Es la biblioteca central para la computación científica en Python. Proporciona un objeto de matriz multidimensional de alto rendimiento y herramientas para trabajar con estas matrices. También tiene una fuerte integración con Pandas, que es otra herramienta poderosa para manipular datos financieros.
Los paquetes de Python como NumPy y Pandas contienen clases y métodos que podemos usar al importar el paquete:

In [112]:
import numpy as np

### Basic NumPy Arrays
Es una cuadrícula de valores, todos del mismo tipo, y está indexada por una tupla de enteros no negativos.

In [115]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Si pasamos np.array() una lista de listas, creará una matriz bidimensional.

In [117]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

Obtenemos la dimensión de un ndarray usando el atributo .shape

In [118]:
print (Ar.shape)

(2, 2)

Si creamos una matriz, se puede acceder a cada fila por índice

In [122]:
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]
First column: [1 2]
Second column: [3 4]

Accediendo por columna

In [123]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

#### Array Functions

El logaritmo natural a cada elemento de una matriz:

In [124]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

Otras funciones devuelven un solo valor

In [127]:
np.mean(price_array)

print (np.std(price_array))

print (np.sum(price_array))

print (np.max(price_array))

0.9673790478515796
863.38
145.83

## Pandas
Es una de las herramientas más poderosas para manejar datos financieros.

In [128]:
import pandas as pd

### Series 
es una matriz etiquetada unidimensional capaz de contener cualquier tipo de datos (enteros, cadenas, flotante, objeto de Python, etc.)

In [130]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

Podemos personalizar los índices de una nueva Serie

In [132]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

s.index = [6,5,4,3,2,1]
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

La serie es como una lista, ya que se puede dividir por índice

In [135]:
print (s[1:])
print (s[:-3])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
dtype: float64

In [136]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

La serie también puede tener un atributo de nombre, que se utilizará cuando creemos un Pandas DataFrame utilizando varias series.

In [137]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices


Podemos obtener los resúmenes estadísticos de una Serie

In [140]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

### Time Index
Pandas tiene una función incorporada específicamente para crear índices de fecha: pd.date_range (). Lo usamos para crear un nuevo índice para nuestra Serie

In [142]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

Por lo general, se accede a las series mediante los métodos iloc[] y loc[]. iloc [] se usa para acceder a elementos por índice entero, y loc[] se usa para acceder al índice de la serie.

iloc[] es necesario cuando el índice de una serie son números enteros

In [143]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [146]:
print (s.iloc[0])

143.73

Al trabajar con datos de series de tiempo, a menudo usamos el tiempo como índice. Pandas nos proporciona varios métodos para acceder a los datos por índice de tiempo

In [148]:
s.index = time_index
print (s['2017-01-03'])

143.68

Podemos acceder a un rango de fechas

In [149]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

Series[] nos proporciona una forma muy flexible de indexar datos. Podemos agregar cualquier condición entre corchetes

In [151]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

# 5. Pandas-Resampling and DataFrame

Aprenderemos sobre los métodos de remuestreo y el objeto DataFrame, que es una poderosa herramienta para el análisis de datos financieros

## 5.1 Fetching Data
Aquí utilizamos Yahoo Finance para recuperar datos.

In [152]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 8.0 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=b2293eb0e21ff2d11724f106febc27d1df15c631669dc6e16de3e2b0fbcc067f
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [153]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 140.91, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.951, 'beta3Year': None, 'enterpriseToEbitda': 21.751, '52WeekChange': 0.16767061, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.5869, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.24707985, 'priceToBook': 36.2983, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2412978896896, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.709598, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 24.8081, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 141.51, 'regularMarketOpen': 141.235, 'twoHundredDayAverage': 138.28957, 'trailingAnnualDividendYield': 0.0059006433, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 141.4, 'navPrice': None, 'averageDailyVolume10Day': 74294614, 'regularMarketPreviousClose': 141.51, 'fiftyDayAverage': 147.11171, 'trailingAnnualDividendRate': 0.835, 'open': 141.235, 'toCurrency': None, 'averageVolume10days': 74294614, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 139.2, 'currency': 'USD', 'trailingPE': 27.586142, 'regularMarketVolume': 74732031, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2329270550528, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 79472161, 'dayLow': 139.2, 'ask': 140.94, 'askSize': 1400, 'volume': 74732031, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 140.88, 'tradeable': False, 'dividendYield': 0.0062, 'bidSize': 1100, 'dayHigh': 141.4, 'regularMarketPrice': 140.91, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379047  24.402100  23.609061  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749166  23.083441  22.230463  ...  324377600        0.0             0
2016-01-08  22.719191  22.848290  22.306534  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827760  42.004957  41.784660  ...   65397600        0.0             0
2017-12-26  40.898678  41.059112  40.630488  ...  132742000        0.0             0
2017-12-27  40.731050  40.893877  40.637663  ...   85992800        0.0             0
2017-12-28  40.946561  41.150098  40.822044  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

Crearemos una Serie denominada "aapl" cuyos valores son los precios de cierre diarios de Apple, que por supuesto están indexados por fechas

In [154]:
aapl = aapl_table['Close']['2017']

In [155]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480766
2017-01-06    27.787134
2017-01-09    28.041645
                ...
2017-12-22    41.906780
2017-12-26    40.843605
2017-12-27    40.850777
2017-12-28    40.965717
2017-12-29    40.522728
Name: Close, Length: 251, dtype: float64

Recuerde que podemos obtener un punto de datos específico usando la serie ['aaaa-mm-dd']. También podemos obtener los datos de un mes específico mediante la serie ['aaaa-mm'].

In [156]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889835
2017-03-03    33.083916
2017-03-06    32.979782
2017-03-07    33.022377
2017-03-08    32.899303
2017-03-09    32.823563
2017-03-10    32.932438
2017-03-13    32.946644
2017-03-14    32.896938
2017-03-15    33.244862
2017-03-16    33.299305
2017-03-17    33.133621
2017-03-20    33.481556
2017-03-21    33.098125
2017-03-22    33.472080
2017-03-23    33.353741
2017-03-24    33.287468
2017-03-27    33.344276
2017-03-28    34.035400
2017-03-29    34.111134
2017-03-30    34.066158
2017-03-31    34.002254
Name: Close, dtype: float64

In [157]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341724
2017-02-02    30.289877
2017-02-03    30.419495
2017-02-06    30.704647
2017-02-07    30.996866
                ...
2017-04-24    33.997524
2017-04-25    34.208183
2017-04-26    34.006989
2017-04-27    34.033028
2017-04-28    33.999897
Name: Close, Length: 61, dtype: float64

In [158]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480766
2017-01-06    27.787134
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244404
2017-12-19    41.794228
2017-12-20    41.748741
2017-12-21    41.906780
2017-12-22    41.906780
2017-12-26    40.843605
2017-12-27    40.850777
2017-12-28    40.965717
2017-12-29    40.522728
Name: Close, dtype: float64

## 5.2 Resampling
series.resample (freq) es una clase llamada "DatetimeIndexResampler" que agrupa datos en un objeto Series en intervalos de tiempo regulares. El argumento "freq" determina la longitud de cada intervalo.

series.resample.mean () es una declaración completa que agrupa los datos en intervalos y luego calcula la media de cada intervalo.

In [159]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606274
2017-03-31    33.282220
2017-04-30    33.819264
2017-05-31    36.125684
2017-06-30    35.133983
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604738
2017-10-31    37.654550
2017-11-30    41.233916
2017-12-31    41.160039
Freq: M, Name: Close, dtype: float64

También podemos agregar los datos por semana:

In [160]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266117
2017-01-29    28.553983
2017-02-05    29.662541
Freq: W-SUN, Name: Close, dtype: float64

También podemos agregar los datos por mes con max:

In [161]:
aapl.resample('M').max()

Date
2017-01-31    28.739216
2017-02-28    32.451969
2017-03-31    34.111134
2017-04-30    34.264984
2017-05-31    37.099129
2017-06-30    36.944645
2017-07-31    36.471710
2017-08-31    39.129719
2017-09-30    39.141651
2017-10-31    40.332249
2017-11-30    42.050133
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

Podemos elegir casi cualquier frecuencia usando el formato 'nf', donde 'n' es un número entero y 'f' es M para el mes, W para la semana y D para el día.

In [162]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787134
2017-01-09    28.110774
2017-01-12    28.078174
2017-01-15    28.279669
                ...
2017-12-17    42.019316
2017-12-20    41.854101
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522728
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108262
2017-02-19    31.516813
2017-03-05    32.595556
2017-03-19    33.017883
2017-04-02    33.625219
2017-04-16    33.849728
2017-04-30    33.791846
2017-05-14    35.697632
2017-05-28    36.496178
2017-06-11    36.515007
2017-06-25    34.529045
2017-07-09    34.265134
2017-07-23    35.278873
2017-08-06    36.272776
2017-08-20    37.904118
2017-09-03    38.458794
2017-09-17    38.282708
2017-10-01    36.840875
2017-10-15    37.071594
2017-10-29    37.757320
2017-11-12    41.032238
2017-11-26    41.204378
2017-12-10    40.867067
2017-12-24    41.620868
2018-01-07    40.795707
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761186
2017-11-30    39.402612
2018-01-31    41.160039
Freq: 2M, Name: Close, dtype: float64

Además del método mean (), también se pueden usar otros métodos con el resampler:

In [163]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203369
2017-01-15    0.072529
2017-01-22    0.025555
2017-01-29    0.245287
2017-02-05    0.943260
2017-02-12    0.252000
2017-02-19    0.231389
2017-02-26    0.059348
2017-03-05    0.340089
2017-03-12    0.076285
2017-03-19    0.177833
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128691
2017-04-16    0.212477
2017-04-23    0.174674
2017-04-30    0.090028
2017-05-07    0.235639
2017-05-14    0.352978
2017-05-21    0.536095
2017-05-28    0.060391
2017-06-04    0.281224
2017-06-11    0.620036
2017-06-18    0.382564
2017-06-25    0.128894
2017-07-02    0.264110
2017-07-09    0.158888
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384444
2017-08-06    0.924390
2017-08-13    0.467466
2017-08-20    0.435254
2017-08-27    0.275766
2017-09-03    0.251719
2017-09-10    0.381637
2017-09-17    0.294137
2017-09-24    0.735190
2017-10-01    0.354844
2017-10-08    0.204857
2017-10-15    0.118728
2017-10-22    0.516998
2017-10-29    0.680452
2017-11-05    0.560680
2017-11-12    0.190969
2017-11-19    0.436200
2017-11-26    0.563048
2017-12-03    0.427446
2017-12-10    0.073130
2017-12-17    0.205268
2017-12-24    0.194123
2017-12-31    0.190393
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787134
2017-01-15    28.220751
2017-01-22    28.279669
2017-01-29    28.739216
2017-02-05    30.419495
2017-02-12    31.341906
2017-02-19    32.122971
2017-02-26    32.451969
2017-03-05    33.086285
2017-03-12    33.022377
2017-03-19    33.299305
2017-03-26    33.481556
2017-04-02    34.111134
2017-04-09    34.264984
2017-04-16    33.886284
2017-04-23    33.713505
2017-04-30    34.208183
2017-05-07    35.256695
2017-05-14    37.099129
2017-05-21    37.004066
2017-05-28    36.597664
2017-06-04    36.944645
2017-06-11    36.925636
2017-06-18    34.838959
2017-06-25    34.779541
2017-07-02    34.658333
2017-07-09    34.266182
2017-07-16    35.421234
2017-07-23    35.891804
2017-07-30    36.471710
2017-08-06    37.346287
2017-08-13    38.277931
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141651
2017-09-10    38.671619
2017-09-17    38.533230
2017-09-24    37.872322
2017-10-01    36.798645
2017-10-08    37.075413
2017-10-15    37.457157
2017-10-22    38.287476
2017-10-29    38.903053
2017-11-05    41.157784
2017-11-12    42.050133
2017-11-19    41.657745
2017-11-26    41.897198
2017-12-03    41.686478
2017-12-10    40.659225
2017-12-17    41.657745
2017-12-24    42.244404
2017-12-31    40.965717
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272600
2017-02-05    28.597813
2017-02-12    30.704647
2017-02-19    31.547829
2017-02-26    32.314682
2017-03-05    32.409367
2017-03-12    32.823563
2017-03-19    32.896938
2017-03-26    33.098125
2017-04-02    33.344276
2017-04-09    33.926517
2017-04-16    33.384506
2017-04-23    33.296932
2017-04-30    33.997524
2017-05-07    34.681553
2017-05-14    36.215267
2017-05-21    35.708797
2017-05-28    36.443180
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812260
2017-06-25    34.463448
2017-07-02    34.147354
2017-07-09    33.921581
2017-07-16    34.475338
2017-07-23    35.544819
2017-07-30    35.530556
2017-08-06    35.347553
2017-08-13    37.058716
2017-08-20    37.578842
2017-08-27    37.509659
2017-09-03    38.526085
2017-09-10    37.848465
2017-09-17    37.764957
2017-09-24    36.240334
2017-10-01    35.920612
2017-10-08    36.619690
2017-10-15    37.182781
2017-10-22    37.216187
2017-10-29    37.261524
2017-11-05    39.778709
2017-11-12    41.575333
2017-11-19    40.486813
2017-11-26    40.702316
2017-12-03    40.582588
2017-12-10    40.470051
2017-12-17    41.114174
2017-12-24    41.748741
2017-12-31    40.522728
Freq: W-SUN, Name: Close, dtype: float64

A menudo queremos calcular los rendimientos mensuales de una acción, en función de los precios del último día de cada mes. Para obtener esos precios, usamos el método series.resample.agg ():

In [171]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597813
2017-02-28    32.423569
2017-03-31    34.002254
2017-04-30    33.999897
2017-05-31    36.305332
2017-06-30    34.228165
2017-07-31    35.347553
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332249
2017-11-30    41.150108
2017-12-31    40.522728
Freq: M, Name: Close, dtype: float64

Calcular directamente las tasas de rendimiento mensuales utilizando los datos del primer día y del último día:

In [164]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099019
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

El objeto Serie también nos proporciona algunos métodos convenientes para realizar cálculos rápidos.

In [165]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863364645339487
0.05225853291793325
0.09901851007954865

Otros dos métodos que se utilizan con frecuencia en Series son .diff () y .pct_change (). El primero calcula la diferencia entre elementos consecutivos y el segundo calcula el cambio porcentual.

In [172]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825756
2017-03-31    1.578686
2017-04-30   -0.002357
2017-05-31    2.305435
2017-06-30   -2.077168
2017-07-31    1.119389
2017-08-31    3.782166
2017-09-30   -2.357327
2017-10-31    3.559856
2017-11-30    0.817860
2017-12-31   -0.627380
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Cuando se trata de valores de NaN, normalmente eliminamos el punto de datos o lo rellenamos con un valor específico.

In [173]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Una alternativa es llenar un NaN con el siguiente valor ajustado. Esto se llama 'relleno hacia atrás' o 'bfill'

In [174]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Como era de esperar, dado que existe un método de 'relleno hacia atrás', debe haber un método de 'relleno hacia adelante' o 'ffill' para abreviar. Sin embargo, no podemos usarlo aquí porque el NaN es el primer valor.

También podemos simplemente eliminar los valores de NaN con .dropna()

In [175]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000069
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

## 5.3 DataFrame
El DataFrame es la estructura de datos más utilizada en Pandas. Es esencialmente una tabla, como una hoja de cálculo de Excel.

Más precisamente, un DataFrame es una colección de objetos Series, cada uno de los cuales puede contener diferentes tipos de datos. Se puede crear un DataFrame a partir de varios tipos de datos: diccionario, numpy.ndarray 2-D, una serie u otro DataFrame

### Create DataFrames
El método más común para crear un DataFrame es pasar un diccionario

In [176]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

### Manipulating DataFrames
Podemos buscar valores en un DataFrame por columnas e índice. Cada columna de un DataFrame es esencialmente una serie Pandas. Podemos buscar una columna entre corchetes: df ['column_name']

Si el nombre de una columna no contiene espacios, también podemos usar df.column_name para buscar una columna

In [177]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906780
2017-12-26    40.843605
2017-12-27    40.850777
2017-12-28    40.965717
2017-12-29    40.522728
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64


Todos los métodos que aplicamos a un índice de Series, como iloc[], loc[] y métodos de remuestreo, también se pueden aplicar a un DataFrame

In [178]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852384  22.440247  21.750948  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785533  21.954737  21.442491  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023114  22.333264  21.990466  ...  143345600        0.0             0
2016-07-31  24.296782  24.380733  24.177851  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367390  26.580749  26.212647  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300088  26.441486  25.986654  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

Podemos seleccionar ciertas columnas de un DataFrame usando sus nombres

In [179]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023114  22.333264  21.990466  22.293621
2016-07-31  24.296782  24.380733  24.177851  24.301445
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367390  26.580749  26.212647  26.505722
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592

Incluso podemos especificar tanto filas como columnas usando loc[]. Los índices de fila y los nombres de columna están separados por una coma

In [180]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023114  22.333264  21.990466  22.293621

Los métodos de subconjunto en DataFrame son bastante útiles. Al escribir declaraciones lógicas entre corchetes, podemos crear subconjuntos personalizados

In [183]:
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367390  26.580749  26.212647  26.505722
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592

### Data Validation
Aquí agregamos una nueva columna a un DataFrame existente

In [184]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Aquí el cálculo introdujo un valor de NaN. Si el DataFrame es grande, no podríamos observarlo. isnull () proporciona una forma conveniente de verificar valores anormales.

In [185]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

La fila etiquetada como "unique" indica el número de valores únicos en cada columna. Dado que la columna "rate_return" tiene 2 valores únicos, tiene al menos un valor faltante.

Podemos deducir el número de valores perdidos comparando "count" con "freq". Hay 12 recuentos y 11 valores falsos, por lo que hay un valor verdadero que corresponde al valor perdido.

También podemos encontrar fácilmente las filas con valores perdidos

In [186]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Por lo general, cuando se trata de datos faltantes, eliminamos toda la fila o la llenamos con algún valor. Como presentamos en el capítulo Series, el mismo método dropna() y fillna() se puede aplicar a un DataFrame.

In [187]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247     0.000000
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

### DataFrame Concat
Hemos visto cómo extraer una serie de un marco de datos. Ahora debemos considerar cómo fusionar una serie o un DataFrame en otro.

En Pandas, la función concat() nos permite fusionar múltiples Series en un DataFrame

In [188]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

El parámetro "axis = 1" unirá dos DataFrames por columnas

In [189]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN   3.110856
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211   3.229314
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660   3.104301
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504   3.277361
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334   3.281685
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

También podemos unir dos DataFrames por filas. Considere estos dos DataFrames

In [190]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104039  34.153745  33.909959  33.999897

Ahora fusionamos los DataFrames con nuestro DataFrame 'aapl_bar'

In [191]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852384  22.440247  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785533  21.954737  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023114  22.333264  ...          NaN           NaN
2016-07-31  24.296782  24.380733  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367390  26.580749  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300088  26.441486  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

De forma predeterminada, los DataFrame se unen con todos los datos. Esta opción predeterminada da como resultado una pérdida de información cero. También podemos fusionarlos por intersección, esto se llama 'inner join (unión interna)'

In [192]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300088  26.441486  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

Solo se dejó la parte de la intersección si se usa el método de 'inner join (unión interna)'. Ahora intentemos agregar un DataFrame a otro

In [193]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN

'Append' es esencialmente para concatenar dos DataFrames por eje = 0, por lo tanto, aquí hay una forma alternativa de agregar:

In [194]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN

Tenga en cuenta que si los dos DataFrame tienen algunas columnas con los mismos nombres de columna, estas columnas se consideran iguales y se fusionarán. Es muy importante tener los nombres de columna correctos. Si cambiamos el nombre de una columna aquí:

In [195]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN        NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211        NaN
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660        NaN
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065504        NaN
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334        NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441486  25.986654  26.045570          NaN  26.300088
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530077  32.354928  32.423569          NaN  32.444870
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153745  33.909959  33.999897          NaN  34.104039